<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Update Employee</title>
</head>
<body class="font-sans bg-gray-100">
    <div class="container mx-auto my-8 p-8 bg-white rounded shadow">
        <h1 class="text-3xl font-semibold mb-4">Update Employee</h1>
        <form action="/update_employee/{{ employee[0] }}" method="post">
            <input type="text" name="name" value="{{ employee[1] }}" required class="mt-1 p-2 border rounded w-full">
            <input type="text" name="emp_id" value="{{ employee[2] }}" required class="mt-1 p-2 border rounded w-full">
            <input type="text" name="designation" value="{{ employee[3] }}" required class="mt-1 p-2 border rounded w-full">
            <input type="email" name="email" value="{{ employee[4] }}" required class="mt-1 p-2 border rounded w-full">
            <input type="password" name="password" value="{{ employee[5] }}" required class="mt-1 p-2 border rounded w-full">
            <button type="submit" class="bg-blue-500 text-white p-2 rounded">Update Employee</button>
        </form>
    </div>
</body>
</html>
